In [27]:
import pandas as pd
import numpy as np
import folium
from folium import plugins

# Read Datasets

In [3]:
fire_archive_M6=pd.read_csv("fire_archive_M6_101673.csv")
fire_archive_V1=pd.read_csv("fire_archive_V1_101674.csv")
fire_nrt_M6=pd.read_csv("fire_nrt_M6_101673.csv")
fire_nrt_V1=pd.read_csv("fire_nrt_V1_101674.csv")

# Merge archive and nrt data

In [5]:
merged_data=pd.concat([fire_archive_V1,fire_nrt_V1],sort=True)

In [6]:
fire_archive_V1.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,type
0,-37.48861,149.63156,341.1,0.41,0.60,2019-09-01,304,N,VIIRS,n,1,293.7,4.4,0
1,-34.46110,150.88142,328.5,0.33,0.55,2019-09-01,305,N,VIIRS,l,1,298.5,2.1,2
2,-33.94823,151.21292,341.1,0.62,0.54,2019-09-01,305,N,VIIRS,n,1,295.3,6.4,0
3,-34.45618,150.87723,328.5,0.33,0.55,2019-09-01,305,N,VIIRS,n,1,298.1,2.1,2
4,-31.60223,150.15147,367.0,0.34,0.56,2019-09-01,306,N,VIIRS,h,1,302.4,19.3,0

In [7]:
fire_nrt_V1.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,-41.20464,144.74380,344.8,0.50,0.49,2019-10-01,336,N,VIIRS,n,1.0NRT,291.2,9.2,D
1,-42.77161,146.86771,353.9,0.41,0.45,2019-10-01,336,N,VIIRS,n,1.0NRT,294.2,9.9,D
2,-40.85202,145.38068,327.9,0.46,0.47,2019-10-01,336,N,VIIRS,n,1.0NRT,295.3,3.7,D
3,-41.02530,147.09605,339.7,0.38,0.44,2019-10-01,336,N,VIIRS,n,1.0NRT,292.5,3.1,D
4,-41.02123,147.09540,328.4,0.38,0.44,2019-10-01,336,N,VIIRS,n,1.0NRT,291.3,2.0,D

In [8]:
merged_data.head()

,acq_date,acq_time,bright_ti4,bright_ti5,confidence,daynight,frp,instrument,latitude,longitude,satellite,scan,track,type,version
0,2019-09-01,304,341.1,293.7,n,NaN,4.4,VIIRS,-37.48861,149.63156,N,0.41,0.60,0.0,1
1,2019-09-01,305,328.5,298.5,l,NaN,2.1,VIIRS,-34.46110,150.88142,N,0.33,0.55,2.0,1
2,2019-09-01,305,341.1,295.3,n,NaN,6.4,VIIRS,-33.94823,151.21292,N,0.62,0.54,0.0,1
3,2019-09-01,305,328.5,298.1,n,NaN,2.1,VIIRS,-34.45618,150.87723,N,0.33,0.55,2.0,1
4,2019-09-01,306,367.0,302.4,h,NaN,19.3,VIIRS,-31.60223,150.15147,N,0.34,0.56,0.0,1

In [14]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1119683 entries, 0 to 1013969
Data columns (total 15 columns):
acq_date      1119683 non-null object
acq_time      1119683 non-null int64
bright_ti4    1119683 non-null float64
bright_ti5    1119683 non-null float64
confidence    1119683 non-null object
daynight      1013970 non-null object
frp           1119683 non-null float64
instrument    1119683 non-null object
latitude      1119683 non-null float64
longitude     1119683 non-null float64
satellite     1119683 non-null object
scan          1119683 non-null float64
track         1119683 non-null float64
type          105713 non-null float64
version       1119683 non-null object
dtypes: float64(8), int64(1), object(6)
memory usage: 136.7+ MB

# Fillter data

In [17]:
filtered_data=merged_data.filter(['latitude','longitude','acq_date','frp'])
filtered_data.head()

   latitude  longitude    acq_date   frp
0 -37.48861  149.63156  2019-09-01   4.4
1 -34.46110  150.88142  2019-09-01   2.1
2 -33.94823  151.21292  2019-09-01   6.4
3 -34.45618  150.87723  2019-09-01   2.1
4 -31.60223  150.15147  2019-09-01  19.3

In [22]:
dec24=filtered_data[filtered_data['acq_date']>='2019-12-24']
dec24.head()

        latitude  longitude    acq_date   frp
693925 -38.08556  141.79860  2019-12-24  11.4
693926 -38.08620  141.79298  2019-12-24  22.3
693927 -38.08677  141.82179  2019-12-24  17.3
693928 -38.08739  141.81616  2019-12-24   6.5
693929 -38.09114  141.81685  2019-12-24   7.8

# highest recorded fire radiation in a day

In [25]:
heighest_radiation=dec24.sort_values(by='frp',ascending=False).head(10)
heighest_radiation

        latitude  longitude    acq_date      frp
942985 -36.97858  146.71938  2020-01-08  10717.2
943024 -35.89541  136.54585  2020-01-08   5611.8
943059 -35.79238  136.59879  2020-01-08   4948.8
894088 -36.77020  148.00307  2020-01-04   4156.6
943016 -35.89769  136.55919  2020-01-08   3736.3
943036 -35.88688  137.07683  2020-01-08   3501.9
943035 -35.88832  137.08549  2020-01-08   3497.9
943020 -35.89618  136.55032  2020-01-08   3372.0
943017 -35.89693  136.55476  2020-01-08   3372.0
943076 -35.80969  136.60056  2020-01-08   3282.1

In [46]:
m=folium.Map(location=[-35.0,144],control_scale=True,zoom_start=3)
copy_data=heighest_radiation.copy()
for i in range(0,len(copy_data)):
          
          folium.Marker(location=[copy_data.iloc[i]['latitude'],copy_data.iloc[i]['longitude']],
          popup='frp:'+ str(copy_data.iloc[i]['frp']) + '<br/> date:'+ str(copy_data.iloc[i]['acq_date']),
          
          icon=folium.Icon(color='red',icon='fire',prefix="fa"),
          ).add_to(m)
m

In [56]:
new_data = dec24[['acq_date','frp']].set_index('acq_date')
peak_dates = new_data.groupby('acq_date').sum().sort_values(by='frp',ascending=False)
peak_dates.head(10)

                  frp
acq_date
2020-01-04  1653384.1
2019-12-30   883598.6
2019-12-29   529525.8
2020-01-02   520606.0
2020-01-03   317426.7
2020-01-01   312001.9
2019-12-31   285330.3
2020-01-08   211078.9
2020-01-07   184565.7
2019-12-28   172952.7